* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(223, 154, 154);
}
.kick-pad.active {
  background: rgb(209, 55, 55);
}
.snare-pad {
  background: rgb(150, 174, 190);
}
.snare-pad.active {
  background: rgb(73, 164, 243);
}
.hihat-pad {
  background: rgb(173, 152, 113);
}
.hihat-pad.active {
  background: rgb(255, 219, 152);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 1rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls button {
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.controls h3 {
  font-size: 0.8rem;
  margin-right: 2rem;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 0.5rem 2.5rem;
  font-size: 1.5rem;
  background: rgb(52, 133, 63);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 50px;
}
select {
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-left: 2rem;
}
.mute.active {
  background: grey;
}
.tempo {
  margin: 2rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.1rem;
  appearance: none;
  height: 5px;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.3rem;
  margin: 1rem;
  text-align: center;
  font-weight: bolder;
}
@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
